#todo-container {
    padding: 2rem;
}

div.list-group-item .form-check > input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
}

div.list-group-item .form-check > label {
    margin-left: 1rem;
    font-size: 1.25rem;
}

div.list-group-item.complete .form-check > label {
    text-decoration: line-through;
}

div.list-group-item button.delete {
    border: 1px solid transparent;
    border-radius: 50%;
    visibility: hidden;
}


div.todo-list-wrapper {
    max-height: 70vh;
    min-height: 70vh;
    overflow-y: auto;
}


div.list-group-item:hover button.delete {
    visibility: visible;
}

#todo-container .form-control-x-lg {
    height: calc(4rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

